﻿
@model IEnumerable<ProjetoStefanini.Models.Custumer>


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>


@*<h3>Filters</h3>*@

<div id="SearchContainer" class="collapse in" aria-expanded="true">
    @*<fieldset>

        @using (Html.BeginForm("Index", "Custumer", FormMethod.Get, new { role = "form" }))
        {

            <div class="input-group">
                @Html.TextBox("searchString_", null, new { @class = "input-sm form-control", placeholder = "Classification" })
                
                <span class="input-group-btn">
                    <input type="submit" class="btn btn-sm btn-primary" value="Buscar">
                </span>
            </div>
            <br />
            
            <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-search"></span> Pesquisar</button>
            <button type="button" id="ClearSearch" class="btn btn-primary"><span class="glyphicon glyphicon-remove-circle"></span> Limpar Filtros</button>

        }

        
        <br />
        <br />
        <p>
            
        </p>
    </fieldset>*@
</div>
<hr />



<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Classification)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gender)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.City)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Region)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastPurchase)
        </th>

        @{
            if (User.IsInRole("Administrator"))
            {
                <th>
                    @Html.DisplayNameFor(model => model.Seller)
                </th>
            }
        }


        <th>Actions</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Classification)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Region)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastPurchase)
            </td>

            @{
                if (User.IsInRole("Administrator"))
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.Seller)
                    </td>
                }
            }

            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
                }

</table>
